<!DOCTYPE html>
<html lang="pt-br" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petshop Formulario</title>
</head>
<body>
    <form action="#" th:action="@{/rh/clientes/salvar}" th:object="${cli}" method="POST">
        <!--Fundamental trazer o id-cliente para atualização-->
        <input type="hidden" id="id" th:field="*{id}"><br>
        <label for="nome">Nome:</label>
        <input type="text" th:field="*{nome}"><br>
        <label for="nome">email:</label>
        <input type="text" th:field="*{email}"><br>
        <label for="nome">CPF:</label>
        <input type="text" th:field="*{cpf}"><br>
        <!--Fundamental trazer o id-endereço para atualização-->
        <input type="hidden" id="id" th:field="*{endereco.id}"><br>
        <label for="nome">Endereco:</label>
        <input type="text" th:field="*{endereco.nomeRua}"><br>
        <label for="nome">Número:</label>
        <input type="number" th:field="*{endereco.numero}"><br>
        <label for="nome">Bairro:</label>
        <input type="text" th:field="*{endereco.bairro}"><br>
        <label for="nome">Cidade:</label>
        <input type="text" th:field="*{endereco.cidade}"><br>
        <label for="nome">CEP:</label>
        <input type="text" th:field="*{endereco.cep}"><br>

        <button type="submit">salvar</button>
    </form>
    <br>
    <a th:href="@{/rh/clientes}">Lista de Clientes</a>
</body>
</html>